html {
  height: 100%;
}
body {
  font-family: Menlo, Consolas, monaco, monospace;
  font-size: 128px;
  text-align: center;
  min-height: 100%;
  background: #eee;
}

#cybers {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.login {
  text-decoration: none;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  color: #eee;
  display: inline-block;
}

.login:hover {
  color: #05a4ee;
}