html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  margin: 0;
  padding: 16px;
}
body {
  font-family: Menlo, Consolas, monaco, monospace;
  font-size: 64px;
  text-align: center;
  height: 100%;
  background: #3498db;
  color: #fff;
  margin: 0;
  padding: 16px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body.logged-in {
  background: #9b59b6;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 32px;
  }
}

body.logged-out:active .aliens {
  display: block;
}

.content {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
}

.aliens {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2980b9;
  z-index: 1;
  display: none;
  cursor: pointer;
}

.aliens img {
  position: absolute;
  top: 45%;
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

p {
  margin: 1em 0;
}

.login {
  text-decoration: none;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  display: inline-block;
  opacity: 0;
  color: #fff;
  z-index: 99999;
}

.login:hover {
  opacity: 1;
}

#cybers {
  font-size: 2em;
}

#uncyber {
  opacity: 0.7;
}